body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: grey; 
}

.Sphere{
	fill: black;
}

.country {
  fill: orange;
  stroke: red;
  stroke-width: 0.2px;
}

.country:hover{
	fill:white;
}