/*world_map*/
#world-map body {
  padding: 0;
  margin: 0;
}

#world-map .Sphere{
	fill: lightblue;
}

#world-map .country {
  fill: white;
  stroke: rgb(27, 26, 26);
  stroke-width: 0.2px;
}

#world-map .country:hover {
    fill-opacity: 0.4!important;
    stroke-width: 0.5px!important;
}

#world-map path {
  fill: none;
  stroke: #333;
  stroke-width: .5px;
}

#world-map-wrapper {
  width: 960px;
  margin: -30px auto 0;
}

#world-map-play, #world-map-clock {
  position: absolute;
  top: 15px;
}
#world-map-play {
  left: 15px;
}
#world-map-clock {
  left: 65px;
}

/* ========== World Line Chart Styles ========== */
#world-line .gridlines line {
    stroke: #bbb;
}

#world-line .gridlines .domain {
    stroke: none;
}

#world-line path#localized-line {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill: none;
}

#world-line path#national-line {
    stroke: red;
    stroke-width: 1.5px;
    fill: none;
}

#world-line path#open-line {
    stroke: green;
    stroke-width: 1.5px;
    fill: none;
}