/*world_map*/
#world-map body {
  padding: 0;
  margin: 0;
}

#world-map .Sphere{
	fill: lightblue;
}

#world-map .country {
  fill: white;
  stroke: rgb(108, 99, 99);
  stroke-width: 0.2px;
}

/* #world-map .country:hover{
	fill:blueviolet;
} */

#world-map path {
  fill: none;
  stroke: #333;
  stroke-width: .5px;
}

#world-map-wrapper {
  width: 960px;
  margin: -30px auto 0;
}

#world-map-play, #world-map-clock {
  position: absolute;
  top: 15px;
}
#world-map-play {
  left: 15px;
}
#world-map-clock {
  left: 65px;
}