/*  * Code References:
    * 1. https://bl.ocks.org/d3noob/a22c42db65eb00d4e369
*/

/* ========== World Map Styles ========== */
#world-map body {
    padding: 0;
    margin: 0;
}

#world-map .Sphere {
    fill: lightblue;
}

#world-map .country {
    fill: white;
    stroke: rgb(108, 99, 99);
    stroke-width: 0.2px;
}

#world-map path {
    fill: none;
    stroke: #333;
    stroke-width: 0.5px;
}

#world-map-wrapper {
    width: 960px;
    margin: -30px auto 0;
}

#world-map-play,
#world-map-clock {
    position: absolute;
    top: 15px;
}

#world-map-play {
    left: 15px;
}

#world-map-clock {
    left: 65px;
}

#world-map .Sphere {
    fill: lightblue;
}

#world-map .country {
    fill: white;
    stroke: rgb(27, 26, 26);
    stroke-width: 0.2px;
}

#world-map .country:hover {
    fill-opacity: 0.4 !important;
    stroke-width: 0.5px !important;
}

#world-map path {
    fill: none;
    stroke: #333;
    stroke-width: 0.5px;
}

#world-map-wrapper {
    width: 960px;
    margin: -30px auto 0;
}

#world-map-play,
#world-map-clock {
    position: absolute;
    top: 15px;
}
#world-map-play {
    left: 15px;
}
#world-map-clock {
    left: 65px;
}

/* ========== World Line Chart Styles ========== */
#world-line .gridlines line {
    stroke: #bbb;
}

#world-line .gridlines .domain {
    stroke: none;
}

#world-line path#localized-line {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill: none;
}

#world-line path#national-line {
    stroke: red;
    stroke-width: 1.5px;
    fill: none;
}

#world-line path#open-line {
    stroke: green;
    stroke-width: 1.5px;
    fill: none;
}

#world-line-div {
    position: relative;
}

#world-line-div .line-tooltip {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0 10px;
    position: absolute;
}

/* ----------us map styles-------------- */

#us-map-clock #us-map-play {
    position: absolute;
    top: 20px;
}

#us-map-clock {
    left: 65px;
}

#us-map-play {
    left: 15px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 60px;
    height: 26px;
    padding: 3px;
    font: 12px sans-serif;
    background: lightyellow;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#legend {
    margin: auto;
}

/* ========== US Line Chart Styles ========== */
#us-line .gridlines line {
    stroke: #bbb;
}

#us-line .gridlines .domain {
    stroke: none;
}

/* #us-line path#ordered-line {
    stroke: red;
    stroke-width: 1.5px;
    fill: none;
}

#us-line path#recommended-line {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill: none;
} */

#us-line-div {
    position: relative;
}

#us-line-div .line-tooltip {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0 10px;
    position: absolute;
}
